// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.users-new {
  .form-group {
    margin-bottom: 20px; /* Adds space between each form group */
  }

  .actions {
    margin-top: 40px; /* Adds space above the submit button */
    margin-bottom: 10px; /* Adds space below the submit button */
  }
}
